<div class="container" style="margin-top: 60px">
    <div ng-controller="DetailedResultsCtrl" class="row">
        <div class=" well well-sm">
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="pastWindow">Past window</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" ng-model="pastWindow" type="text" id="pastWindow" value="{{pastWindow}}"/>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="skipWindow" class="">Skip window</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" ng-model="skipWindow" type="text" id="skipWindow" value="{{skipWindow}}"/>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="futureWindow" class="">Future window</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control"  ng-model="futureWindow" type="text" id="futureWindow" value="{{futureWindow}}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="topFiguresCount">Top figures count</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" ng-model="topFiguresCount" type="text" id="topFiguresCount" value="{{topFiguresCount}}"/>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="startFigure" class="">Start figure</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" ng-model="startFigure" type="text" id="startFigure" value="{{startFigure}}" />
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="endFigure" class="">End figure</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" ng-model="endFigure" type="text" id="endFigure"  value="{{endFigure}}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="getData()">Go!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row" ng-repeat="(iIndex, item) in items">
                <div class="col-xs-6">
                    <table class="table">
                        <tr ng-repeat="row in item.runResults">
                            <td>{{$index + 1}}</td>
                            <td ng-repeat="el in row.result"  style="background-color: {{row.color}}">
                                <div class="col-xs-6 badge" ng-show="el.intersected">{{el.figure}}</div>
                                <div class="col-xs-6" ng-hide="el.intersected">{{el.figure}}</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="text-align: center">
                            <h3 class="panel-title">Bet</h3>
                        </div>
                        <div class="panel-body">
                            <p style="text-align: center; font-size: large"><span ng-repeat="figure in item.bet">{{figure}}&nbsp;&nbsp;</span></p>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="text-align: center">
                            <h3 class="panel-title">Custom bet</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td ng-repeat="n in [1, 2, 3, 4, 5, 6]"><button class="btn btn-default btn-block"  ng-click="customBets[iIndex].push(n)">{{n}}</button></td>
                                </tr>
                                <tr>
                                    <td ng-repeat="n in [7, 8, 9, 10, 11, 12]"><button class="btn btn-default btn-block"  ng-click="customBets[iIndex].push(n)">{{n}}</button></td>
                                </tr>
                                <tr>
                                    <td ng-repeat="n in [13, 14, 15, 16, 17, 18]"><button class="btn btn-default btn-block"  ng-click="customBets[iIndex].push(n)">{{n}}</button></td>
                                </tr>
                                <tr>
                                    <td ng-repeat="n in [19, 20, 21, 22, 23, 24]"><button class="btn btn-default btn-block"  ng-click="customBets[iIndex].push(n)">{{n}}</button></td>
                                </tr>
                                <tr>
                                    <td ng-repeat="n in [25, 26, 27, 28, 29, 30]"><button class="btn btn-default btn-block"  ng-click="customBets[iIndex].push(n)">{{n}}</button></td>
                                </tr>
                                <tr>
                                    <td ng-repeat="n in [31, 32, 33, 34, 35, 36]"><button class="btn btn-default btn-block"  ng-click="customBets[iIndex].push(n)">{{n}}</button></td>
                                </tr>
                            </table>
                            <div class="well" style="text-align: center">
                                <span ng-repeat="item in customBets[iIndex]" class="badge">{{item}}&nbsp;&nbsp;</span>
                            </div>
                            <div style="text-align: center">
                                <div class="form-group">
                                    <button class="btn btn-primary" ng-click="highlightCustomBet(iIndex)">Highlight bet!</button>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                   <p>Bet Candidate: </p>
                   <p ng-repeat="el in item.betCandidate"><span>{{el.figure}} - {{el.hit}} </span></p>-->
                </div>
            </div>
        </div>

    </div>
</div>